.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
    
}

.login > img{
    /* width: 100%; */
    width: 650px;

}
.login > a{
    padding:18px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 800; /*bold*/
    color: white;
    text-decoration: none;  /* remove underline*/

}